<style>
	
	head {}
	
	body
	{
		background : lightblue url("images/world.png") no-repeat 1250px 70px;
	}
	
	h1	
	{
		text-align : center;
		margin:auto;
		margin-bottom : 20px;
		width:40%;
		color : white;
		background-color: tomato;
		border : 1px solid black;
		padding: 10px 10px 10px 20px;
	}
	
	h1:hover
	{
		background-color: red;
	}
	
	p 	
	{
		text-align: center;
		display:block;
		margin: auto;
		color : white;
		width : 80%;
		background-color : dodgerblue;
		border : 1px solid black;
		padding: 10px 10px 10px 20px;
		
	}
	
	p:hover
	{
			background-color:blue;
	}
</style>